*{
  padding: 0;
  margin: 0;
}

:root{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-image: 1120px;    
}
span{
  color: #E95E10;
}
body img{
  background-size: 100%;
}
 #pagina{
  box-sizing: border-box;
  width: 1440px;
  padding: 80px;
  margin: auto;
 }

 

 h1{
  font-size: 36px;
 }

#conheçabusan  {
 background: url(assent/image.jpg) no-repeat 
 
}

.busan{
  font-style: italic;
  font-size: 16px;
}

footer{
  color: black;
  padding: 48px;
  text-align: center;
  vertical-align: middle;
  
}